<section class="education">
	<h2 class="section__title">Education</h2>
</section>

<style>
	.education {
		padding-block-start: var(--navbar-height);
		scroll-padding-top: 0;
		height: 100dvh;
	}
</style>
