---
import Poligons from "@/components/shapes/Poligons.astro";
import Waves from "@/images/home/waves.astro";
import Bento from "@/sections/home/Bento.astro";
---

<section class="experience" id="experience">
	<Bento />
	<Waves
		className="waves"
		colorTop="oklch(var(--clr-background)/0.2)"
		colorMid="oklch(var(--clr-background)/0.6)"
		colorBottom="oklch(var(--clr-background))"
	/>
	<Poligons className="poligons" color="oklch(var(--clr-background))" />
</section>

<style>
	.experience {
		background: oklch(var(--clr-primary));
		position: relative;
		display: grid;
		place-content: center;

		:global(.bento) {
			margin-block-start: 4rem;
			margin-block-end: 10rem;
			@media (--media-tablet) {
				margin-inline: 2rem;
			}
		}

		:global(.waves) {
			z-index: 2;
		}

		:global(.poligons) {
			position: absolute;
			inset: 0;
			width: 100%;
			height: 100%;
			z-index: 1;
		}
	}
</style>
