---
import Poligons from "@/components/Poligons.astro";
import Waves from "@/images/home/waves.astro";
import Bento from "@/sections/home/Bento.astro";
---

<section class="experience">
	<h2 class="section__title">Experience and skills</h2>
	<Bento />
	<Waves
		className="waves"
		colorTop="oklch(var(--clr-background)/0.2)"
		colorMid="oklch(var(--clr-background)/0.6)"
		colorBottom="oklch(var(--clr-background))"
	/>
	<Poligons className="poligons" color="oklch(var(--clr-background))" />
</section>

<style>
	.experience {
		padding-block-start: var(--navbar-height);
		scroll-padding-top: 0;
		min-height: 100dvh;
		background: oklch(var(--clr-primary));
		position: relative;

		:global(.waves) {
			z-index: 2;
		}

		:global(.poligons) {
			position: absolute;
			inset: 0;
			width: 100%;
			height: 100%;
			z-index: 1;
		}
	}
</style>
