---
import SocialIcons from "@/components/SocialIcons.astro";
import PrimaryButton from "@/components/buttons/PrimaryButton.astro";
import yoImage from "@/images/home/hero/you-y-robot.png";
import "@/styles/animations.css";
import { Icon } from "astro-icon/components";
import { Image } from "astro:assets";
---

<section>
	<article class="hero-section">
		<div class="hero__text">
			<h1>Hey I am Dr Daniel!</h1>
			<p>
				<strong>Machine learning researcher</strong> from Spain 🇪🇸. +5 years background in designing
				and developing artificial neural networks models. Specialiced in <strong
					>Graph Neural Network and Generative AI</strong
				>.
			</p>
			<div class="buttons">
				<PrimaryButton reference="../documents/Daniel_Rodriguez_CV_EN.pdf" target={true}>
					Download CV
				</PrimaryButton>
				<PrimaryButton reference="mailto:dani1610@hotmail.com"> Contact me </PrimaryButton>
			</div>
			<SocialIcons fontSize="3rem" gap="1.2rem" />
		</div>
		<Image
			class="hero__image"
			src={yoImage}
			width={yoImage.width / 1.5}
			densities={[1.5, 2]}
			alt="Daniel Rodriguez with a robot"
		/>
	</article>
	<div class="continue_arrow">
		<h4>More about me</h4>
		<a href="#projects">
			<Icon name="home/arrow-down" />
		</a>
	</div>
</section>

<style>
	section {
		display: flex;
		flex-direction: column;
		justify-content: center;

		background-image: linear-gradient(
				to bottom,
				oklch(var(--clr-background) / 0.9),
				oklch(var(--clr-background) / 0.3)
			),
			radial-gradient(ellipse at top, transparent 30%, oklch(var(--clr-background)) 80%),
			var(--bg-img-home);
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		background-attachment: fixed;

		clip-path: polygon(100% 0, 100% 90%, 50% 100%, 0 90%, 0 0);
	}

	.hero-section {
		display: flex;
		align-items: center;
		gap: 6rem;

		width: fit-content;
		margin-inline: auto;
		margin-block-start: auto;

		.hero__text {
			width: clamp(2rem, 30vw, 50rem);
			h1 {
				font-family: var(--ff-accent);
				font-size: clamp(var(--fs-700), 3vw + 0.7rem, var(--fs-900));
				font-weight: var(--fw-bold);
			}
			p {
				font-size: clamp(var(--fs-400), 3vw, var(--fs-600));
				padding-block-end: 2rem;

				strong {
					font-weight: var(--fw-bold);
					color: oklch(var(--clr-accent));
				}
			}

			.buttons {
				display: flex;
				flex-wrap: wrap;
				gap: 1rem;
				padding-block-end: 1rem;
			}
		}

		.hero__image {
			display: block;
			max-height: clamp(30rem, 50vh, 90rem);
			width: auto;
			object-fit: contain;
			padding-inline-end: 5rem;
			padding-inline-start: 3rem;

			background: no-repeat url("../../images/home/hero/fill.svg");
			background-origin: padding-box;
			background-position: bottom 0.15rem right;
			background-size: 100% 50%;
		}

		@media (--media-tablet) {
			flex-direction: column;
			justify-content: center;
			gap: 2rem;
			margin-block-start: 0;
			padding-block-start: 2rem;
			padding-block-end: 5rem;

			.hero__text {
				order: 2;
				width: 90%;
				text-align: center;
				display: grid;
				place-items: center;
			}

			.hero__image {
				max-height: 40vh;
			}
		}
	}

	.continue_arrow {
		margin-block-start: auto;
		text-align: center;

		h4 {
			font-family: var(--ff-accent);
			font-size: var(--fs-700);
			font-weight: var(--fw-bold);
			padding-inline-end: 0.5em;
			padding-block-end: 0.2em;
		}

		[data-icon="home/arrow-down"] {
			padding-block-start: 1rem;
			padding-block-end: 2rem;
			font-size: 5.5rem;

			cursor: pointer;
			animation: bounce-arrow 2s ease infinite;
		}

		@media (--media-tablet) {
			display: none;
		}
	}
</style>
