---
import Carousel from "@/components/Carousel.astro";
import Waves from "@/images/home/experience/waves.astro";
---

<section id="projects">
	<h2 class="section__title">A glimpse my work</h2>
	<Carousel />
	<Waves
		className="waves"
		colorTop="oklch(var(--clr-yellow-100))"
		colorMid="oklch(var(--clr-yellow-200))"
		colorBottom="oklch(var(--clr-primary))"
	/>
</section>

<style>
	#projects {
		padding-block-start: var(--navbar-height);
		scroll-padding-top: 0;
		height: 100dvh;
		position: relative;
	}
</style>
