---
import ArticleCard from "@/components/cards/ArticleCard.astro";
import Layout from "@/layouts/Layout.astro";
import PageBanner from "@/sections/PageBanner.astro";
import { getCollection } from "astro:content";

import BannerImage from "@/images/blog/blog-banner.png";

const posts = (await getCollection("blog")).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);

// Remove all the post from each tutorial except the first one.
const filteredPosts = posts.filter(
	(post) => !post.id.match("Tutorials/([A-Za-z0-9]+(_[A-Za-z0-9]+)+)/[2-9]_")
);

console.log(posts);
---

<Layout title="Blog">
	<PageBanner
		image={BannerImage}
		title="Blog"
		description="Dive into the world of AI with my latest blog posts! I share practical guides, informative tutorials, and explore fascinating discoveries in the field."
	/>
	<main>
		<section>
			<ul>
				{
					filteredPosts.map((post) => (
						<li>
							<ArticleCard {...post.data} slug={post.slug} />
						</li>
					))
				}
			</ul>
		</section>
	</main>
</Layout>

<style>
	section {
		margin-inline: auto;
		max-width: min(90%, calc(var(--max-main-width) + 10rem));
		padding-block-end: 5rem;
	}

	li {
		margin-block-start: 2rem;
	}
</style>
