---
import ArticleCard from "@/components/ArticleCard.astro";
import PageBanner from "@/components/PageBanner.astro";
import Layout from "@/layouts/Layout.astro";
import { getCollection } from "astro:content";

import BannerImage from "@/images/blog/blog-banner.png";

const posts = (await getCollection("blog")).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<Layout title="Blog">
	<PageBanner image={BannerImage} title="Blog" description="Latest posts from the blog" />
	<main>
		<section>
			<ul>
				{
					posts.map((post) => (
						<li>
							<ArticleCard {...post.data} slug={post.slug} />
						</li>
					))
				}
			</ul>
		</section>
	</main>
</Layout>

<style>
	section {
		margin-inline: auto;
		max-width: min(90%, calc(var(--max-main-width) + 10rem));
	}

	li {
		margin-block-start: 2rem;
	}
</style>
