---
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"button"> {
	reference: string | "submit";
	classes?: string;
	fontSize?: string;
	target?: boolean;
}

const submit: boolean = Astro.props.reference === "submit";
const { reference, classes, fontSize, target = false, ...rest } = Astro.props;
---

{
	submit ? (
		<button class:list={[classes]} type="submit" {...rest}>
			<slot />
		</button>
	) : (
		<a class:list={[classes]} href={reference} target={target ? "_blank" : ""} {...rest}>
			<slot />
		</a>
	)
}

<style define:vars={{ fontSize }}>
	a,
	button {
		display: inline-block;
		font-size: var(--fontSize, inherited);
		line-height: 2em;
		padding-inline: 0.5em;
		border-radius: 100vmax;

		color: oklch(var(--clr-neutral-800));
		background-color: oklch(var(--clr-primary));
		font-weight: var(--fw-bold);

		position: relative;
		overflow: hidden;
		z-index: 1;
		transition:
			width 0.3s,
			color 0.3s;

		&::before {
			content: "";
			position: absolute;
			bottom: 0;
			left: 0;
			width: 0%;
			height: 100%;
			background-color: oklch(var(--clr-yellow-400));
			transition: all 0.3s;
			border-radius: 10rem;
			z-index: -1;
		}

		&:hover::before {
			width: 100%;
		}

		&:hover {
			color: oklch(var(--clr-light));
		}
	}
</style>
