@keyframes bounce-arrow {
	0%,
	20%,
	50%,
	80%,
	100% {
		transform: translateY(0) scaleX(3);
	}
	40% {
		transform: translateY(-13px) scaleX(2);
	}
	60% {
		transform: translateY(-7px) scaleX(3);
	}
}

@keyframes blur {
	to {
		box-shadow:
			0px 5px 50px -5px oklch(var(--clr-text) / 0.1),
			0px 0px 0px 1px oklch(var(--clr-text) / 0.3);
		background-color: oklch(var(--clr-background) / 0.6);
		backdrop-filter: blur(10px);
	}
}

@keyframes slide-up {
	0% {
		opacity: 0;
		transform: translateY(100%);
	}
	100% {
		opacity: 1;
		transform: translateY(0%);
	}
}
