---
import Layout from "@/layouts/Layout.astro";
import ContactForm from "@/sections/contact/ContactForm.astro";

export const prerender = false;
---

<Layout title="Contact me">
	<main>
		<ContactForm />
	</main>
</Layout>

<style>
	main {
		max-width: 80%;
		height: 100dvh;
		margin-inline: auto;

		display: grid;
		place-content: center;
	}

	:global(section) {
		padding-block: 5rem;
	}
</style>
