---
import Layout from "@/layouts/Layout.astro";
import ContactForm from "@/sections/contact/ContactForm.astro";

export const prerender = false;
---

<Layout title="Contact me">
	<script is:inline src="https://www.google.com/recaptcha/api.js" slot="head"></script>
	<main>
		<h2>Send me a message:</h2>
		<ContactForm />
	</main>
</Layout>

<style>
	main {
		max-width: 80%;
		height: 100dvh;
		margin-inline: auto;

		display: grid;
		place-content: center;
	}
	h2 {
		text-align: center;
		font-size: var(--fs-700);
		color: oklch(var(--clr-accent));
	}

	:global(section) {
		padding-block: 5rem;
	}
</style>
