---
import Layout from "@/layouts/Layout.astro";

import Education from "@/sections/home/Education.astro";
import Experience from "@/sections/home/Experience.astro";
import Hero from "@/sections/home/Hero.astro";
import Projects from "@/sections/home/Projects.astro";
---

<Layout title="Home">
	<Hero />
	<main>
		<Projects />
		<Experience />
		<Education />
	</main>
</Layout>

<style>
	html {
		scroll-snap-type: block mandatory;

		@media screen and (--media-tablet) {
			scroll-snap-type: none;
		}
	}

	:global(footer) {
		scroll-snap-align: center;
	}

	:global(section) {
		scroll-snap-align: start;
		min-height: 100dvh;
	}

	:global(h2.section__title) {
		font-size: var(--fs-700);
		font-weight: var(--fw-bold);
		text-align: center;
	}

	:global(.waves) {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		max-height: 50%;
		z-index: -1;
	}
</style>
