---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Projects">
	<main>
		<a href="/projects/traffic3d"> This is a link to traffic 3D projet</a>
	</main>
</Layout>

<style>
	main {
		padding-block-start: 10rem;
	}
</style>
