---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Projects">
	<main>
		<a href="/navigation/sngnn"> This is a link to sngnn projet</a>
	</main>
</Layout>

<style>
	main {
		padding-block-start: 10rem;
	}
</style>
