---
import PageBanner from "@/components/PageBanner.astro";
import ProjectCard from "@/components/cards/ProjectCard.astro";
import Layout from "@/layouts/Layout.astro";

import BannerImg from "@/images/projects/projects-banner.png";

import { getCollection } from "astro:content";

const docs = await getCollection("docs");
// console.log(docs);
---

<Layout title="Projects">
	<PageBanner image={BannerImg} title="Projects" description="A list of my projects" />
	<main>
		<section>
			<ul>
				{
					docs.map((doc) => (
						<li>
							<ProjectCard {...doc.data} slug={doc.slug} />
						</li>
					))
				}
			</ul>
		</section>
	</main>
</Layout>

<style>
	main {
		padding-block-start: 10rem;
		text-align: center;
	}

	h2 {
		font-size: var(--fs-600);
		font-weight: var(--fw-bold);
		padding-block-end: 2rem;
	}

	a:hover:visited {
		color: oklch(var(--clr-accent));
	}

	p {
		padding-block-start: 7rem;
		font-size: var(--fs-300);
	}
</style>
