---
import PageBanner from "@/components/PageBanner.astro";
import PublicationCard from "@/components/cards/PublicationCard.astro";
import Layout from "@/layouts/Layout.astro";

import publications from "@/data/publications.json";
import BannerImage from "@/images/publications/publications-banner.jpg";
---

<Layout title="Publications">
	<PageBanner image={BannerImage} title="Publications" description="A list of my publications" />
	<main>
		<section class="publications-section">
			<ul class="publications-list">
				{
					publications.map((publication: any) => (
						<li>
							<PublicationCard {...publication} />
						</li>
					))
				}
			</ul>
		</section>
	</main>
</Layout>

<style>
	.publications-section {
		max-width: clamp(60rem, 80%, 120rem);
		margin-inline: auto;
	}

	.publications-list li {
		padding-block-end: 3rem;
	}
</style>
