---
import PublicationCard from "@/components/cards/PublicationCard.astro";
import Layout from "@/layouts/Layout.astro";
import PageBanner from "@/sections/PageBanner.astro";

import publications from "@/data/publications.json";
import BannerImage from "@/images/publications/publications-banner.jpg";

// import { getJson } from "serpapi";

// let response = await getJson({
// 	engine: "google_scholar_author",
// 	author_id: "inPLE8AAAAAJ",
// 	api_key: import.meta.env.SERPAPI_KEY,
// });
// console.log(response["articles"]);

// response = await getJson({
// 	engine: "google_scholar_author",
// 	view_op: "view_citation",
// 	citation_id: "inPLE8AAAAAJ:UeHWp8X0CEIC",
// 	api_key: import.meta.env.SERPAPI_KEY,
// });
// console.log(response["citation"]);
---

<Layout title="Publications">
	<PageBanner
		image={BannerImage}
		title="Publications"
		description="A record of my research output during my doctoral studies, including publications in peer-reviewed journals and conferences."
	/>
	<main>
		<section class="publications-section">
			<ul class="publications-list">
				{
					publications.map((publication: any) => (
						<li>
							<PublicationCard {...publication} />
						</li>
					))
				}
			</ul>
		</section>
	</main>
</Layout>

<style>
	.publications-section {
		max-width: clamp(60rem, 80%, 120rem);
		margin-inline: auto;
	}

	.publications-list li {
		padding-block-end: 3rem;
	}
</style>
