---
import { Icon } from "@astrojs/starlight/components";

interface Props {
	contributors: string[];
	githubUrl: string;
	peperUrl: string;
}

const { contributors, githubUrl, peperUrl } = Astro.props;
---

<blockquote>
	<p>
		Contributors: {
			contributors.map((contributor, i, array) =>
				["Daniel Rodriguez-Criado", "Daniel Rodriguez Criado", "Daniel Rodriguez"].includes(
					contributor
				) ? (
					<Fragment
						set:html={`<strong> ${
							contributor +
							"</strong>" +
							(i < array.length - 2 ? ", " : "") +
							(i == array.length - 2 ? " and " : "")
						}`}
					/>
				) : (
					<span>
						{contributor +
							(i < array.length - 2 ? ", " : "") +
							(i == array.length - 2 ? " and " : "")}
					</span>
				)
			)
		}
	</p>
	<div class="links">
		<a href={githubUrl} target="_blank">
			<Icon name="github" size="1.3rem" />
			Code
		</a>

		<a href={peperUrl} target="_blank">
			<Icon name="open-book" size="1.3rem" />
			Paper
		</a>
	</div>
</blockquote>

<style is:inline>
	strong {
		font-weight: bold;
		color: var(--sl-color-accent);
	}

	.links {
		display: flex;
		gap: 1rem;
		margin-top: 1rem;

		a {
			display: flex;
			align-items: center;
			gap: 0.3em;
			padding-inline: 0.5em;

			color: var(--sl-color-gray-1);
			text-decoration: none;
			background-color: var(--sl-color-primary);
			cursor: pointer;
			border-radius: 30px;

			&:hover {
				color: var(--sl-color-gray-6);
				background-color: var(--sl-color-accent);
			}
		}
	}
</style>
