<div class="content">
	<span>&copy; {new Date().getFullYear()} Daniel Rodriguez Criado </span>
	<span aria-hidden="true" class="bar">|</span>
	<span>All rights reserved.</span>
</div>

<style>
	.content {
		display: flex;
		gap: 1em;
		flex-wrap: wrap;
		justify-content: center;
	}
	@media screen and (--media-tablet) {
		.content span:first-child {
			flex-basis: 100%;
			text-align: center;
		}
		.bar {
			display: none;
		}
	}
</style>
