<div class="content">
	&copy; {new Date().getFullYear()} Daniel Rodriguez Criado <span
		aria-hidden="true"
		class="hidden md:inline">|</span
	><br aria-hidden="true" class="block md:hidden" /> Almost all rights reserved :).
</div>

<style>
	.content {
		display: flex;
		gap: 1em;
		flex-wrap: wrap;
	}
</style>
