<section class="giscus"></section>

<style>
	.giscus {
		color: var(--clr-text);
	}
</style>

<script
	src="https://giscus.app/client.js"
	data-repo="vangiel/personal-website-astro"
	data-repo-id="R_kgDOLdaAzg"
	data-category="General"
	data-category-id="DIC_kwDOLdaAzs4CgZ2v"
	data-mapping="url"
	data-strict="0"
	data-reactions-enabled="1"
	data-emit-metadata="0"
	data-input-position="bottom"
	data-theme="transparent_dark"
	data-lang="en"
	data-loading="lazy"
	crossorigin="anonymous"
	async></script>
