---
interface Props {
	reference: string;
	target?: boolean;
}

const { reference, target = false } = Astro.props;
---

<button>
	<a href={reference} target={target ? "_blank" : ""}>
		<slot />
	</a>
</button>

<style>
	button {
		background-color: oklch(var(--clr-primary));
		border-radius: 100vmax;
		margin-inline-end: 2rem;

		color: oklch(var(--clr-neutral-800));
		font-weight: var(--fw-bold);

		a {
			display: block;
			line-height: 3rem;
			padding-inline: 1rem;
		}
	}
</style>
