---
import { Icon } from "astro-icon/components";
---

<a target="_blank" href="https://github.com/vangiel" rel="me" class="sl-flex">
	<span class="sr-only">GitHub</span>
	<Icon name="social/github" />
</a>

<a
	target="_blank"
	href="https://www.linkedin.com/in/daniel-rodr%C3%ADguez-criado-phd-6967626a/"
	rel="me"
	class="sl-flex"
>
	<span class="sr-only">LinkedIn</span>
	<Icon name="social/linkedin" />
</a>

<a target="_blank" href="https://orcid.org/0000-0003-0562-531X" rel="me" class="sl-flex">
	<span class="sr-only">OrcID</span>
	<Icon name="social/orcid" />
</a>

<a
	target="_blank"
	href="https://www.researchgate.net/profile/Daniel-Rodriguez-Criado"
	rel="me"
	class="sl-flex"
>
	<span class="sr-only">ResearchGate</span>
	<Icon name="social/researchgate" />
</a>

<a target="_blank" href="https://twitter.com/danirocri" rel="me" class="sl-flex">
	<span class="sr-only">X</span>
	<Icon name="social/square-x-twitter" />
</a>

<style>
	a {
		color: var(--sl-color-text-accent);
		padding: 0.5em;
		margin: -0.5em;
		font-size: 1.3rem;
	}
	a:hover {
		opacity: 0.66;
	}
</style>
